*{
    margin: 1px;
    padding: 0px;
    font-size:20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight:bold;
    text-align: center;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
div#general{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 1000px;
    height: 500px;
}
#n{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    display: inline-block;

}
#nLetras{
    font-size: 100px;
    text-align: center;
    display: inline-block;
}